
header {
    height: 150px;
    position: sticky; 
}

.col-haeder-top {
    width: 100vw;
    height: auto;
    background-color: black;
    padding: 10px 0;
}

.text-header {  
    color: white ;
    padding-right: 5px;
}

.text-white {
    color: white ;
}

.black-text {
    color: black !important;
}

.btn-gray-border {
    border-radius: 20px;
}

.jumbotron {
    width: 100% ;
    height: auto;
    background-color: yellow;

}

.img-inside {
    max-width: 250px;
    min-width: 150px;
    height: auto;
} 

.orange {
    background-color: orangered;
}

.blu {
    background-color: rgb(2, 90, 252);
}

.container.jumbo {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.lista-giochi {
    max-width: 100%;
    margin-top:20px;
    border: none;
    border-radius: 20px;
}

.section-margin {
    margin: 40px auto;
    height: auto;
}

.text-center.margin {
    margin-top: 25px;
    margin-bottom: 50px;
} 

.img-playstation {
    border: none;
}
.terza-section{
    background-color: rgb(49, 49, 121);
}