body {
    font-family: Arial, Helvetica, sans-serif;
}
.cerca {
    width: 20px;
    border: none;
    margin-right: 15px;
}

.spunta {
    display: inline;
    width: 10px;
}



/*  */

header {
    height: 100px;
    position: fixed;
    top:0; 
}

.col-haeder-top {
    width: 100vw;
    height: auto;
    background-color: black;
    padding: 10px 0;
}


.logo {
    width: 50px;
    float: right;
    margin-right: 20px;
}

.text-white {
    color: white ;
}

.btn-gray-border {
    border-radius: 20px;
}
.jumbotron {
    margin-top:100px;
    max-width: 100%;
    background-image: url("img/jumbo-bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
    padding-top: 200px;
    padding-bottom: 50px;
}

.img-jumbo {
    margin-bottom: 50px ;
}

.img-inside {
    max-width: 250px;
    min-width: 150px;
    height: auto;
} 
.terza-section {
    max-width: 100%;
    background-image: url("img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    padding-bottom: 50px;
}

.terza-section-footer{
    padding-top: 20px;
    background-color: rgb(90, 89, 89);
}
.orange {
    background-color: orangered;
}

.blu {
    background-color: rgb(2, 90, 252);
}

.container.jumbo {
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.lista-giochi {
    max-width: 100%;
    margin-top:20px;
    padding-bottom: 5px;
    border: none;
    border-radius: 20px;
}

.gadget {
    border-radius: 0;
    opacity: 0.6;
}

.section-margin {
    margin: 40px auto;
    height: auto;
}

.text-center.margin {
    margin-top: 25px;
    margin-bottom: 50px;
} 

.img-playstation {
    border: none;
}

.terza-section-footer {
    background-color: rgb(51, 51, 51);
}       

.quinta-section {
    background-color: rgb(177, 174, 174);
    max-width: 100%;
    background-image: url("img/ps-plus-april-monthly-games-featured-image-block.png");
    background-size:contain;
    background-position:right ;
    background-repeat: no-repeat;
    height: auto;
    padding-top: 200px;
    padding-bottom: 50px;
}

.btn_gray {
    color: blue;
    background-color: rgb(180, 180, 180);
}

.btn_white{
    color: blue ;
    background-color: white;
}

.lista-no-borderradius, .img-social {
    max-width: 100%;
    margin-top:20px;
    border: none;
}

.settima-section {
    background-color: rgb(6, 6, 56);
    background-image: url("img/ps-now-april-featured-image-block.png");
    background-size:contain;
    background-position:right ;
    background-repeat: no-repeat; 
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 50px;
}

footer {
    width: 100%;
    height: auto;
    background-color: blue;
    margin-top: 50px;
    padding-bottom: 50px;
}

.logo-footer {
    width: 80px;
}

.img-globe {
    width: 20px;
}

.text-margin {
    margin: 30px auto;
}

.link-footer {
   list-style-type: none;
}

.logo-sony { 
    width: 150px;
}
.ahref-style-no {
    text-decoration: none;
    cursor: pointer;
}

/* effetti hover */

.lista-giochi.hover:hover {
    border: 3px solid blue;
    cursor: pointer;
}
.lista-giochi.gadget:hover {
    cursor: pointer;
    opacity: 1;
    border-bottom: 2px solid blue;
}



/* breakpoints */

@media only screen and (max-width: 768px) { 
 
    .settima-section {
        background-image: none; 
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .quinta-section {
        background-image: none;
        padding-top: 100px;
        padding-bottom: 30px;
    }
    .text_none {
        display: none;
    }
  }